{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('admin/task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_task_index', {project: project.id}) }}">back to list</a>

    {{ include('admin/task/_delete_form.html.twig') }}
{% endblock %}
